.header {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 80px;
  width: 100vw;
  background-color: #005cbb;
  justify-content: center;
  align-items: center;

  span {
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
  }

  .login {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
}
